p#pogrubienie_zur{
    font-size: 28px;
    color: #8961D3;

}
p#pochylona_zur{
    font-size: 33pt;
    color: #EDC56F;

}
p#index_gorny_zur{
    font-size: 1,8cm;
    color: #9D931F;

}
p#index_dolny_zur{
    font-size: 2,1cm;
    color: #39F7E7;

}
p#mono_zur{
    font-size: 38px;
    color: #1DE36F;

}
p#powiekszenie_zur{
    color: #5743A1;

}
p#pomniejszenie_zur{
    font-size: 38px;
    color: #BBA73D;

}
